---
import { Image } from "astro:assets";
import sphido from "./sphido.svg";
import Twemoji from "./Twemoji.astro";
import LinkIcon from "../../../icons/link.svg";
---
<article class="text-center bg-gray-200 p-6 md:p-24 lg:p-32">
	<a href="https://sphido.cz" target="_sphido">
		<Image src={sphido} alt="Sphido Logo" class="inline-block my-4" loading="lazy"/>
	</a>
	<p class="my-3 text-xl">
		A rocket
		<Twemoji emoji="🚀" class="inline-block size-5 mx-0.5"/>
		fast,
		<Twemoji emoji="💭" class="inline-block size-5 mx-0.5"/>
		lightweight and flexible static site
		<Twemoji emoji="🤖" class="inline-block size-5 mx-0.5"/>
		generator
	</p>
	<p class="text-center mt-6">
		<a href="https://sphido.cz" target="_blank" class="py-3 px-6 bg-rose-600 hover:bg-rose-700 text-white rounded-full hover:text-white hover:no-underline inline-flex gap-1.5 items-center">
			<LinkIcon class="size-4"/>
			sphido.cz
		</a>
	</p>
</article>