---
import sphido from "./sphido.svg";
import CardImage from "../card/CardImage.astro";
import ProjectCard from "../card/ProjectCard.astro";
import CardBody from "../card/CardBody.astro";
import PackageInfo from "../card/PackageInfo.astro";
---
<ProjectCard>
	<CardImage src={sphido} alt="Sphido" class="bg-gray-800 p-16"/>
	<CardBody class="prose prose-lg">
		<p>
			<a href="https://sphido.cz">Sphido</a>
			is a rocket fast, lightweight and flexible static site generator.
		</p>
	</CardBody>

	<PackageInfo npm="@sphido/core" github="sphido/sphido"/>

</ProjectCard>