---
import sphido from "./sphido.svg";

import ProjectImage from "../card/ProjectImage.astro";
import ProjectCard from "../card/ProjectCard.astro";
import Badges from "../card/Badges.astro";
import Tags from "../card/Tags.astro";
---
<ProjectCard>

	<Fragment slot="header">
		<h1 itemprop="headline" class="sr-only">Sphido CMS</h1>
		<ProjectImage
			href="https://github.com/sphido/sphido"
			src={sphido}
			alt="Sphido CMS"
		/>
	</Fragment>

	<Fragment>
		<p class="prose p-3">
			<a href="https://sphido.cz">Sphido</a>
			is a rocket fast, lightweight and flexible static site generator.
		</p>

		<Badges
			npm="@sphido/core"
			git="sphido/sphido"
		/>

		<Tags class="text-xs">
			<li>Nodejs</li>
			<li>Typescript</li>
		</Tags>

	</Fragment>


</ProjectCard>