---
import logo from "./testomato.svg";
import CardImage from "../card/CardImage.astro";
import CardBody from "../card/CardBody.astro";
import WebsiteCard from "../card/WebsiteCard.astro";
import ProjectCard from "../card/ProjectCard.astro";
---

<ProjectCard
	link="https://www.testomato.com"
	title="Testomato"
	class="bg-[#f6f8fa]">

	<CardImage
		alt="Testomato"
		src={logo}
		class="bg-[#112239] px-4 lg:px-10"
	/>

	<CardBody class="prose prose-lg">
		<p>
			As a <strong>co-founder and main developer</strong>, I’ve been with <a href="https://www.testomato.com" target="_blank">Testomato</a> from
			the beginning. Testomato is a cloud-based service that automatically monitors websites, checking them up to
			300 times a day and quickly alerting you to any issues. It's simple and reliable.
		</p>
	</CardBody>

	<ul class="flex justify-start items-center flex-wrap">
		<li class="m-2 px-2 py-1 bg-gray-200 hover:bg-gray-300 rounded-full text-sm font-semibold text-gray-600">PHP8.4</li>
		<li class="m-2 px-2 py-1 bg-gray-200 hover:bg-gray-300 rounded-full text-sm font-semibold text-gray-600">Nette</li>
		<li class="m-2 px-2 py-1 bg-gray-200 hover:bg-gray-300 rounded-full text-sm font-semibold text-gray-600">Vue</li>
		<li class="m-2 px-2 py-1 bg-gray-200 hover:bg-gray-300 rounded-full text-sm font-semibold text-gray-600">Docker</li>
		<li class="m-2 px-2 py-1 bg-gray-200 hover:bg-gray-300 rounded-full text-sm font-semibold text-gray-600">MongoDB</li>
		<li class="m-2 px-2 py-1 bg-gray-200 hover:bg-gray-300 rounded-full text-sm font-semibold text-gray-600">MariaDB</li>
		<li class="m-2 px-2 py-1 bg-gray-200 hover:bg-gray-300 rounded-full text-sm font-semibold text-gray-600">AngularJS</li>
	</ul>
</ProjectCard>