---
import TestomatoLogo from "./testomato.svg";
import WebsiteCard from "../card/WebsiteCard.astro";
import screenshot from "./../testomato/testomato.png";
import Tags from "../card/Tags.astro";
import WebsiteLink from "../card/WebsiteLink.astro";
import WebsiteImage from "../card/WebsiteImage.astro";
---

<WebsiteCard>

	<Fragment slot="header">
		<h1 itemprop="headline" class="sr-only">Testomato</h1>
		<WebsiteImage
			src={screenshot}
			alt="Testomato"
			href="https://www.testomato.com"
		/>
	</Fragment>

	<Fragment>
		<a href="https://www.testomato.com" target="_blank" class="hover:text-inherit text-gray-800" aria-label="Testomato.com">
			<TestomatoLogo class="w-48 h-auto mx-auto md:ml-0"/>
		</a>

		<p class="prose prose-xl">
			As a <strong>co-founder and main developer</strong>, I’ve been with <a href="https://www.testomato.com" target="_blank">Testomato</a> from
			the beginning. Testomato is a cloud-based service that continuously monitors websites &mdash; checking them as often as 300 times per day &mdash;
			and instantly alerts users to any issues. It’s built to be simple, reliable, and efficient.
		</p>

		<Tags>
			<li>PHP8.4</li>
			<li>Nette</li>
			<li>Javascript</li>
			<li>Vue</li>
			<li>Tailwind CSS</li>
			<li>Vitest</li>
			<li>MongoDB</li>
			<li>Redis</li>
			<li>MariaDB</li>
			<li><a href="https://github.com/testomato/minicrawler" target="_blank">Minicrawler</a></li>
			<li>Docker</li>
		</Tags>

		<WebsiteLink href="https://www.testomato.com">Testomato.com</WebsiteLink>
	</Fragment>

</WebsiteCard>