---
import TestomatoLogo from "./testomato.svg";
import CardImage from "../card/CardImage.astro";
import CardBody from "../card/CardBody.astro";
import WebsiteCard from "../card/WebsiteCard.astro";
import ProjectCard from "../card/ProjectCard.astro";
import { Image } from "astro:assets";
import screenshot from "./../testomato/testomato.png";
import Link from '../../../icons/link.svg'
import Tags from "../card/Tags.astro";
---

<WebsiteCard>

	<a href="https://www.testomato.com" target="_blank" slot="image">
		<Image
			src={screenshot} alt="Testomato"
			class="rounded-2xl shadow-lg"
			loading="eager"
		/>
	</a>

	<div class="lg:grow">

		<a href="https://www.testomato.com" target="_blank" class="hover:text-inherit text-gray-800">
			<TestomatoLogo class="w-48 h-auto mb-2 mx-auto md:ml-0"/>
		</a>

		<p class="prose prose-xl">
			As a <strong>co-founder and main developer</strong>, I’ve been with <a href="https://www.testomato.com" target="_blank">Testomato</a> from
			the beginning. Testomato is a cloud-based service that continuously monitors websites &mdash; checking them as often as 300 times per day &mdash;
			and instantly alerts users to any issues. It’s built to be simple, reliable, and efficient.

		</p>

		<Tags>
			<li>PHP8.4</li>
			<li>Nette</li>
			<li>Nette Tester</li>
			<li>Javascript</li>
			<li>Vue</li>
			<li>Tailwind CSS</li>
			<li>Vitest</li>
			<li>MongoDB</li>
			<li>MariaDB</li>
			<li><a href="https://github.com/testomato/minicrawler" target="_blank">Minicrawler</a></li>
			<li>Docker</li>
		</Tags>
	</div>

	<div slot="footer" class="text-center md:text-right">
		<a class="inline-flex justify-center items-center gap-1" href="https://www.testomato.com" target="_blank" slot="link">
			<Link class="size-4"/>
			Testomato.com
		</a>
	</div>


</WebsiteCard>