---
import { Image } from "astro:assets";
import logo from "./testomato.svg";
import screenshot from "./testomato.png";
---
<article class="bg-[#b72b2a] grid lg:grid-cols-2 md:p-12 md:gap-12 p-6 lg:p-32 lg:gap-32 text-white">
	<div>

		<Image src={logo} alt="Testomato" class="w-6/12 sm:w-4/12 my-6" loading="eager"/>

		<p class="text-xl leading-relaxed mb-4">
			I'm working at <a href="https://www.testomato.com/team" target="_blank" class="hover:text-white">Testomato</a> since beginning as co-founder &amp; developer.{' '}
			<a href="https://www.testomato.com" target="_blank" class="hover:text-current">Testomato starts</a> almost ten years ago
			as <a href="https://www.testomato.com/about" class="hover:text-current">one man project</a> based on ideas
			of <a href="https://michal.illich.cz/" class="hover:text-current" target="_blank">Michal Illich</a>.
			<a href="https://www.testomato.com" target="_blank" class="hover:text-current">Testomato</a> is a cloud-based
			<a href="https://www.testomato.com" target="_blank" class="hover:text-current">automated website monitoring tool</a>
			for checks any type of websites and alerts you to problems. It's fast and easiest way to monitor websites automatically!{' '}
			<a href="https://www.testomato.com" target="_blank" class="hover:text-current">Testomato</a> can check your website
			300 times a day. How often do you?
		</p>

		<h3 class="font-medium mb-3 text-xl">Technologies &amp; Tools</h3>

		<ul class="list-disc ml-8 leading-loose text-lg mb-4">
			<li>
				PHP (<a href="https://nette.org/cs/" target="_blank" rel="nofollow" class="hover:text-current">Nette</a>,
				<a href="https://framework.zend.com/" target="_blank" rel="nofollow" class="hover:text-current">Zend Framework</a>)
			</li>
			<li>
				<a href="https://mariadb.org/" target="_blank" rel="nofollow" class="hover:text-current">MariaDB</a>,
				<a href="https://www.mongodb.com/" target="_blank" rel="nofollow" class="hover:text-current">MongoDB</a>,
				<a href="https://redis.io/" target="_blank" rel="nofollow" class="hover:text-current">Redis</a>
			</li>
			<li>our own <a href="https://github.com/testomato/minicrawler" target="_blank" class="hover:text-current">Minicrawler</a></li>
			<li><a href="https://www.docker.com/" target="_blank" rel="nofollow" class="hover:text-current">Docker</a>, git, DI, CI, TDD, &hellip;</li>
			<li><a href="https://tailwindcss.com/" target="_blank" class="hover:text-current">Tailwind</a>, Angular JS and Javascript ES6</li>
			<li>Build with <a href="https://parceljs.org/" target="_blank" class="hover:text-current">Parcel</a> and Makefile</li>
		</ul>

		<p class="mt-6">
			<a href="https://www.testomato.com" target="_blank" class="py-3 px-6 bg-white/20 hover:bg-white/30 rounded-full hover:text-current hover:no-underline inline-flex items-center" title="Visit page">
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="fill-current w-6 h-6 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"></path>
					<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"></path>
				</svg>
				Visit Testomato
			</a>
		</p>
	</div>

	<div>
		<a href="https://www.testomato.com" target="_blank">
			<Image src={screenshot} alt="Testomato website screenshot" class="shadow-2xl rounded-lg border border-gray-900" loading="eager"/>
		</a>
	</div>
</article>