---
import logo from "./zdrojak.svg";
import CardImage from "../card/CardImage.astro";
import ProjectCard from "../card/ProjectCard.astro";
import CardBody from "../card/CardBody.astro";
---

<ProjectCard>
	<CardImage alt="Zdrojak.cz" src={logo} class="bg-[#424242] px-4 lg:px-12 lg:pt-8"/>
	<CardBody class="prose prose-lg">
		<p>
			<a href="https://zdrojak.cz">Zdrojak.cz</a> is one of the most well-known Czech magazines about development. I have been there since its rebirth,
			working as the lead developer and site administrator. The current version is built on WordPress and multiple in-house
			plugins, modifications and tweaks.
		</p>
	</CardBody>
</ProjectCard>