---
import ZdrojakLogo from "./zdrojak.svg";
import WebsiteCard from "../card/WebsiteCard.astro";
import screenshot from "../zdrojak/zdrojak.png";
import Tags from "../card/Tags.astro";
import WebsiteLink from "../card/WebsiteLink.astro";
import WebsiteImage from "../card/WebsiteImage.astro";
---

<WebsiteCard>

	<Fragment slot="header">
		<h1 itemprop="headline" class="sr-only">Zdrojak</h1>
		<WebsiteImage
			src={screenshot}
			href="https://zdrojak.cz"
		/>
	</Fragment>

	<Fragment>
		<a href="https://zdrojak.cz" target="_blank" class="hover:text-inherit text-gray-800" aria-label="Zdroják.cz">
			<ZdrojakLogo class="w-48 h-auto mx-auto md:ml-0"/>
		</a>

		<p class="prose prose-xl">
			<a href="https://zdrojak.cz" target="_blank">Zdroják.cz</a> is one of the most recognized Czech magazines focused on
			software development. I’ve been part of the team since its <abbr title="In year 2013">relaunch</abbr>,
			working as the <strong>lead developer</strong> and <strong>site administrator</strong>. The current version runs on WordPress,
			enhanced with a range of custom-built plugins, WordPress modifications, and optimizations.
		</p>

		<Tags>
			<li>PHP8.4</li>
			<li>MariaDB</li>
			<li>Wordpress</li>
			<li>Tailwind CSS</li>
			<li>Parcel</li>
			<li>Docker</li>
		</Tags>

		<WebsiteLink href="https://zdrojak.cz">Zdroják.cz</WebsiteLink>
	</Fragment>

</WebsiteCard>