---
import GitHubRepo from "./GitHubRepo.astro";
---
<section class="mt-12 pt-12 border-t border-slate-200">

	<h2 class="section-title mb-4">Featured NPM Packages</h2>

	<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 items-start">
		<GitHubRepo url="https://github.com/OzzyCzech/diggy" />
		<GitHubRepo url="https://github.com/OzzyCzech/sslko" />
		<GitHubRepo url="https://github.com/OzzyCzech/easter-date" />
		<GitHubRepo url="https://github.com/OzzyCzech/international-days-cs" />
		<GitHubRepo url="https://github.com/OzzyCzech/namedays-cs" />
		<GitHubRepo url="https://github.com/OzzyCzech/tailwind-debug" />
		<GitHubRepo url="https://github.com/OzzyCzech/wticons" />
		<GitHubRepo url="https://github.com/OzzyCzech/mock-to-openapi" />
		<GitHubRepo url="https://github.com/OzzyCzech/pux-to-html" />
	</div>

	<div class="text-center my-8 md:my-12">
		<a
			href="https://www.npmjs.com/settings/ozzyczech/packages"
			target="_blank"
			rel="noopener"
			class="btn btn-xs"
		>
			View NPM
		</a>
	</div>

</section>

<section class="mt-12 pt-12 border-t border-slate-200">

	<h2 class="section-title mb-4">Featured PHP Packages</h2>

	<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 items-start">
		<GitHubRepo url="https://github.com/OzzyCzech/icalparser" />
		<GitHubRepo url="https://github.com/OzzyCzech/potrans" />
		<GitHubRepo url="https://github.com/OzzyCzech/fromArray" />
		<GitHubRepo url="https://github.com/OzzyCzech/latte-lucide-icons" />
	</div>

	<div class="text-center my-8 md:my-12">
		<a
			href="https://packagist.org/users/OzzyCzech/packages/"
			target="_blank"
			rel="noopener"
			class="btn btn-xs"
		>
			View Packagist
		</a>
	</div>

</section>
