---
import data from './github.json'
import GitHubLogo from './github.svg'
import GitHubIcon from '../../../icons/github.svg'
---
<article class="bg-[#f6f8fa] p-6 md:p-24 xl:p-32">

	<a href="https://github.com/OzzyCzech" target="_blank" title="Visit my GitHub profile">
		<GitHubLogo class="w-48 my-4"/>
	</a>

	<ul class="gap-12 lg:columns-2 list-disc marker:text-gray-300 *:my-2">
		{data.filter((item) => !item.fork && !item.archived)
			.sort((a, b) => {
				return new Date(b.pushed_at).getTime() - new Date(a.pushed_at).getTime();
			})
			.map((item) => (
				<li>
					<a href={item.html_url} target="_blank" class="font-bold">{item.name}</a> {item.description ? '- ' + item.description : ''}
				</li>))}
	</ul>

	<p class="text-center mt-12">
		<a href="https://github.com/OzzyCzech?tab=repositories" target="_blank"
		   class="mx-auto px-5 py-2.5 rounded-full text-white hover:text-white text-sm tracking-wider font-medium bg-gray-800 hover:bg-gray-900 inline-flex items-center gap-2 hover:no-underline"
		   title="Visit my GitHub profile">
			<GitHubIcon class="size-6"/>
			View all repositories
		</a>
	</p>
</article>