---
import GitHubRepo from "./GitHubRepo.astro";
import GitHubIcon from "../../../icons/github.svg"
---
<section class=" max-w-(--breakpoint-2xl) px-4 mx-auto">

	<h2 class="text-2xl font-semibold my-4">
		<a href="https://www.npmjs.com/settings/ozzyczech/packages" target="_blank">NPM Packages</a>
	</h2>

	<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
		<GitHubRepo url="https://github.com/OzzyCzech/easter-date">
			<p>
				A lightweight and dependency-free library to calculate the date of Easter date for any given year.
			</p>
		</GitHubRepo>

		<GitHubRepo url="https://github.com/OzzyCzech/international-days-cs">
			<p>
				The largest and most comprehensive collection of Czech and international 'something days' – just for fun!
			</p>
		</GitHubRepo>

		<GitHubRepo url="https://github.com/OzzyCzech/namedays-cs">
			<p>
				Simple library to get Czech name days (jmeniny, svátek) for a given date.
			</p>
		</GitHubRepo>

		<GitHubRepo url="https://github.com/OzzyCzech/tailwind-debug">
			<p>
				Tailwind debug plugin adds a red dashed outline for the selected element
			</p>
		</GitHubRepo>

		<GitHubRepo url="https://github.com/OzzyCzech/wticons">
			<p>
				Website Technology Icons (<code>wticons</code>) bundle for
				<a href="https://astro.build" target="_blank" rel="noopener noreferrer nofollow">Astro</a> and
				<a href="https://react.dev" target="_blank" rel="noopener noreferrer nofollow">React</a>
			</p>
		</GitHubRepo>

		<GitHubRepo url="https://github.com/OzzyCzech/mock-to-openapi">
			<p>
				Cli tool (and library) for converting JSON mock objects to <a href="https://swagger.io/specification/" rel="noopener noreferrer nofollow">OpenAPI schemas</a>.
				Check <a href="https://ozzyczech.github.io/mock-to-openapi/" target="_blank">online converter</a> for demo.
			</p>
		</GitHubRepo>

		<GitHubRepo url="https://github.com/OzzyCzech/pux-to-html">
			<p>
				Read 1Password (1PUX) format and generate plain HTML output.
			</p>
		</GitHubRepo>

	</div>

	<h2 class="text-2xl font-semibold my-4">
		<a href="https://packagist.org/users/OzzyCzech/packages/" target="_blank">
			PHP Packages
		</a>
	</h2>

	<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

		<GitHubRepo url="https://github.com/OzzyCzech/icalparser">
			<p>Simple iCal parser for PHP that can parse iCal files and return an array of events.</p>
		</GitHubRepo>

		<GitHubRepo url="https://github.com/OzzyCzech/potrans">
			<p>
				Command line tool for translate <a href="https://www.gnu.org/software/gettext/" target="_blank" rel="noopener noreferrer nofollow">Gettext</a>
				with <a href="https://translate.google.com/" target="_blank" rel="noopener noreferrer nofollow">Google Translator</a> API or
				<a href="https://www.deepl.com/translator" target="_blank" rel="noopener noreferrer nofollow">DeepL API</a> written in PHP.
			</p>
		</GitHubRepo>

		<GitHubRepo url="https://github.com/OzzyCzech/fromArray">
			<p>
				PHP trait <code>fromArray</code> allow create objects instances loaded with initial data array
			</p>
		</GitHubRepo>

		<GitHubRepo url="https://github.com/OzzyCzech/latte-lucide-icons">
			<p>
				A package to easily make use of [Lucide Icons](https://lucide.dev/) in your Latte Templates
			</p>
		</GitHubRepo>

	</div>

	<p class="text-center my-8 md:my-12">
		<a href="https://github.com/OzzyCzech?tab=repositories" target="_blank"
		   class="btn"
		   title="Visit my GitHub profile">
			<GitHubIcon class="size-6"/>
			Visit my GitHub profile
		</a>
	</p>

</section>