---
import ProjectCard from "../card/ProjectCard.astro";
import ProjectImage from "../card/ProjectImage.astro";
import logo from "./cmd-dialog.svg";
import Badges from "../card/Badges.astro";
---
<ProjectCard
	git="https://github.com/OzzyCzech/cmd-dialog/"
	npm="cmd-dialog"
>

	<ProjectImage
		href=""
		src={logo}
		alt="CMD Dialog"
	/>

	<Fragment>
		<p class="prose">
			<a href="https://github.com/OzzyCzech/cmd-dialog/">cmd-dialog</a> is a simple and lightweight library for creating
			command dialogs on web pages. It is designed to be easy to use and integrate into existing projects.
			Check out the <a href="https://cmd-dialog.vercel.app/" target="_blank">demo</a>
		</p>
	</Fragment>

	<Badges npm="cmd-dialog" git="OzzyCzech/cmd-dialog"/>

</ProjectCard>