@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant active (&:where(.active &));

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-300, currentColor);
	}

	a {
		@apply text-current hover:underline hover:text-blue-600 hover:ease-in-out;
	}
}

@utility btn {
	@apply inline-flex gap-1 items-center print:hidden;
	@apply py-3 px-5 font-medium rounded-full hover:no-underline;
	@apply bg-slate-800 hover:bg-slate-900 text-white hover:text-white;
}

@utility btn-xs {
	@apply py-1 px-3 text-sm font-semibold;
}

@utility btn-blue {
	@apply bg-blue-600 hover:bg-blue-700 rounded-full text-white hover:text-white hover:no-underline
}


@media print {
	@page {
		size: a4;
		margin: 10mm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h1, h2, h3 {
		page-break-after: avoid;
	}

	tr, img {
		page-break-inside: avoid;
	}

	.page-break-before-always {
		page-break-before: always;
	}
}