---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import DownloadIcon from "../../components/DownloadIcon.astro";
import Icon from "../../icons/Icon.astro";


// import {
// 	Angularjs,
// 	Apple,
// 	Ava,
// 	Bootstrap,
// 	Css3,
// 	Cypress,
// 	Docker,
// 	Git,
// 	Gnu,
// 	Html5,
// 	Javascript,
// 	JQuery,
// 	Linux,
// 	Mocha,
// 	MongoDb,
// 	MySql,
// 	Nette,
// 	NextJs,
// 	NodeJs,
// 	Parcel,
// 	Php,
// 	PhpStorm,
// 	PhpUnit,
// 	React,
// 	Redis,
// 	TailwindCss,
// 	VisualStudioCode,
// 	Webpack,
// 	Zend
// } from "wticons";

const years = (new Date()).getFullYear() - 2009;
---



<Layout title="Ing. Roman Ožana / Work">
	<Header/>

	<!-- main class="px-4 max-w-screen-xl mx-auto">
		<h1 class="text-center py-6 md:py-8 lg:py-12 xl:py-20 text-2xl font-semibold">Ing. Roman Ožana / Resume</h1>
		<section class="hidden print:block">
			<article class="flex gap-4 py-4">
				<div>
					<p class="mb-3 text-lg leading-relaxed">
						Hi there, <br/>
						my name is Roman Ožana. I am a freelance webdesigner and developer with <strong>more than {years} years of
						experiences</strong>. I'm here to create websites and applications easy to use, intuitive and modern inside. I love tech
						startups and community around. Enjoy working in small and effective team.
					</p>
					<ul class="leading-loose">
						<li><strong>Address</strong>: <a href="https://goo.gl/maps/v2qt8eXuiXqPijZD7">Prague, Přímětická st.</a></li>
						<li><strong>Web</strong>: <a href="https://ozana.cz">https://ozana.cz</a></li>
						<li><strong>Email</strong>: <a href="mailto:roman@ozana.cz?subject=Resume">roman@ozana.cz</a></li>
						<li><strong>Phone</strong>: <a href="tel:+420605783455">+420&nbsp;605&nbsp;783&nbsp;455</a></li>
					</ul>
				</div>
				<div class="w-[650px]">
					<img src="/img/roman-ozana.jpg" alt="Roman Ožana" class="object-cover my-4 rounded"/>
				</div>
			</article>
		</section>

		section class="break-before-page">
		<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Tech Stack</h2>

		<div class="grid grid-flow-row gap-8 my-8">

			<article>
				<h3 class="font-semibold mb-6">Server side</h3>
				<ul class="flex flex-wrap gap-8 ml-6">
					<li class="flex gap-1.5 items-center">
						<Php class="h-6 w-6 rounded"/>
						PHP
					</li>
					<li class="flex gap-1.5 items-center">
						<NodeJs class="w-6 h-6"/>
						NodeJS
					</li>
				</ul>
			</article>

			<article>
				<h3 class="font-semibold mb-6">Client side</h3>
				<ul class="flex flex-wrap gap-8 ml-6">
					<li class="flex gap-1.5 items-center">
						<Javascript class="w-6 h-6"/>
						Javascript
					</li>
					<li class="flex gap-1.5 items-center">
						<Html5 class="w-6 h-6"/>
						HTML5
					</li>
					<li class="flex gap-1.5 items-center">
						<TailwindCss class="w-6 h-6"/>
						Tailwind CSS
					</li>
					<li class="flex gap-1.5 items-center">
						<Bootstrap class="w-6 h-6"/>
						Bootstrap
					</li>
					<li class="flex gap-1.5 items-center">
						<Css3 class="w-6 h-6"/>
						CSS3
					</li>
					<li class="flex gap-1.5 items-center">
						<React class="w-6 h-6"/>
						React
					</li>

					<li class="flex gap-1.5 items-center">
						<JQuery class="w-6 h-6"/>
						jQuery
					</li>
				</ul>
			</article>

			<article>
				<h3 class="font-semibold mb-6">Frameworks</h3>
				<ul class="flex flex-wrap gap-8 ml-6">
					<li class="flex gap-1.5 items-center">
						<NextJs class="w-6 h-6"/>
						NextJS
					</li>
					<li class="flex gap-1.5 items-center">
						<Angularjs class="w-6 h-6"/>
						Angular JS
					</li>
					<li class="flex gap-1.5 items-center">
						<Zend class="w-6 h-6"/>
						Zend Framework
					</li>
					<li class="flex gap-1.5 items-center">
						<Nette class="w-6 h-6"/>
						Nette Framework
					</li>
				</ul>
			</article>


			<article>
				<h3 class="font-semibold mb-6">Databases</h3>
				<ul class="flex flex-wrap gap-8 ml-6">
					<li class="flex gap-1.5 items-center">
						<MongoDb class="w-6 h-6"/>
						MongoDB
					</li>
					<li class="flex gap-1.5 items-center">
						<MySql class="w-6 h-6"/>
						MySQL
					</li>
					<li class="flex gap-1.5 items-center">
						<Redis class="w-6 h-6"/>
						Redis
					</li>
				</ul>

			</article>


			<article>
				<h3 class="font-semibold mb-6">Code quality</h3>
				<ul class="flex flex-wrap gap-8 ml-6">
					<li class="flex gap-1.5 items-center">
						<Ava class="w-6 h-6"/>
						AVA
					</li>
					<li class="flex gap-1.5 items-center">
						<PhpUnit class="w-5 h-5"/>
						PhpUnit
					</li>
					<li class="flex gap-1.5 items-center">
						<Cypress class="w-6 h-6"/>
						Cypress
					</li>
					<li class="flex gap-1.5 items-center">
						<Mocha class="w-6 h-6"/>
						Mocha
					</li>
				</ul>
			</article>


			<article>
				<h3 class="font-semibold mb-6">Bundlers</h3>
				<ul class="flex flex-wrap gap-8 ml-6">
					<li class="flex gap-1.5 items-center">
						<Parcel class="w-6 h-6"/>
						Parcel
					</li>

					<li class="flex gap-1.5 items-center">
						<Webpack class="w-6 h-6"/>
						Webpack
					</li>

					<li class="flex gap-1.5 items-center">
						<Gnu class="w-6 h-6"/>
						Makefile
					</li>
				</ul>
			</article>


			<article>
				<h3 class="font-semibold mb-6">DevStack</h3>

				<ul class="flex flex-wrap gap-8 ml-6">
					<li class="flex gap-1.5 items-center">
						<Apple class="w-6 h-6"/>
						macOS
					</li>
					<li class="flex gap-1.5 items-center">
						<Linux class="w-6 h-6"/>
						Linux
					</li>
					<li class="flex gap-1.5 items-center">
						<Docker class="w-6 h-6"/>
						Docker
					</li>
					<li class="flex gap-1.5 items-center">
						<Git class="w-6 h-6"/>
						Git
					</li>
					<li class="flex gap-1.5 items-center">
						<PhpStorm class="w-6 h-6"/>
						PhpStorm
					</li>
					<li class="flex gap-1.5 items-center">
						<VisualStudioCode class="w-6 h-6"/>
						Visual Studio Code
					</li>
				</ul>
			</article>
		</div>
		</section>

		<section>
			<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Languages</h2>
			<article class="my-4">
				<ul class="leading-loose">
					<li><strong>Czech</strong> &ndash; native language</li>
					<li><strong>English</strong> &ndash; communicative</li>
				</ul>
			</article>
		</section>

		<section>
			<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Additional Info</h2>
			<article class="my-4">
				<ul>
					<li>Driving license: <strong>B</strong></li>
				</ul>
			</article>
		</section>

		<section>
			<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Education</h2>
			<article class="my-4">
				<h3 class="text-xl font-semibold mb-0.5">VŠB &ndash; Technical University of Ostrava</h3>
				<p class="italic">2002 – 2007: Geoinformatics</p>
				<ul class="list-disc marker:text-gray-500 ml-6 leading-loose my-2">
					<li><strong>Study program</strong>: <a href="https://gis.vsb.cz/" target="_blank">Geodesy and cartography, Geoinformatics</a></li>
					<li><strong>Degree</strong>: Master's degree (Msc., Geoingormatics)</li>
					<li><strong>Address</strong>: VŠB – Technical university of Ostrava, 17. listopadu 15, Ostrava – Poruba, Faculty of Mining and Geology</li>
				</ul>
			</article>
			<article class="my-4">
				<h3 class="text-xl font-semibold mb-0.5">SPŠE Rožnov pod Radhoštěm</h3>
				<p class="italic">1997 – 2001: Electronic computer systems</p>
			</article>
		</section>

		<section class="hidden print:block break-before-page">
			<div class="grid min-h-screen align-center">
				<div class="self-center">
					<Image src={qr} alt="Roman Ožana" class="w-6/12 mx-auto"/>
				</div>
			</div>
		</section>

		<div class="text-center my-12 print:hidden">
			<a href="/cv.pdf" download={`Resume - Ing. Roman Ožana - ${new Date().getFullYear()}.pdf`} class="py-3 px-6 bg-blue-600 hover:bg-blue-700 rounded-full text-white hover:text-white hover:no-underline inline-flex items-center">
				<DownloadIcon/>
				Download as PDF
			</a>
		</div>
	</main -->
	<Footer/>
</Layout>
