---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import {Image} from "astro:assets";
import qr from "./_contact.svg";
import WorkExperiences from "./WorkExperiences.astro";
import TechStack from "./TechStack.astro";

const years = (new Date()).getFullYear() - 2009;
---


<Layout title="Ing. Roman Ožana / Work">
	<Header/>

	<main class="px-4 max-w-screen-xl mx-auto">
		<h1 class="text-center py-6 md:py-8 lg:py-12 xl:py-20 text-2xl font-semibold">Ing. Roman Ožana / Resume</h1>
		<section class="hidden print:block">
			<article class="flex gap-4 py-4">
				<div>
					<p class="mb-3 text-lg leading-relaxed">
						Hi there, <br/>
						my name is Roman Ožana. I am a freelance webdesigner and developer with <strong>more than {years} years of
						experiences</strong>. I'm here to create websites and applications easy to use, intuitive and modern inside. I love tech
						startups and community around. Enjoy working in small and effective team.
					</p>
					<ul class="leading-loose">
						<li><strong>Address</strong>: <a href="https://goo.gl/maps/v2qt8eXuiXqPijZD7">Prague, Přímětická st.</a></li>
						<li><strong>Web</strong>: <a href="https://ozana.cz">https://ozana.cz</a></li>
						<li><strong>Email</strong>: <a href="mailto:roman@ozana.cz?subject=Resume">roman@ozana.cz</a></li>
						<li><strong>Phone</strong>: <a href="tel:+420605783455">+420&nbsp;605&nbsp;783&nbsp;455</a></li>
					</ul>
				</div>
				<div class="w-[650px]">
					<img src="/img/roman-ozana.jpg" alt="Roman Ožana" class="object-cover my-4 rounded"/>
				</div>
			</article>
		</section>

		<WorkExperiences/>
		<TechStack/>

		<section>
			<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Languages</h2>
			<article class="my-4">
				<ul class="leading-loose">
					<li><strong>Czech</strong> &ndash; native language</li>
					<li><strong>English</strong> &ndash; communicative</li>
				</ul>
			</article>
		</section>

		<section>
			<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Additional Info</h2>
			<article class="my-4">
				<ul>
					<li>Driving license: <strong>B</strong></li>
				</ul>
			</article>
		</section>

		<section>
			<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Education</h2>
			<article class="my-4">
				<h3 class="text-xl font-semibold mb-0.5">VŠB &ndash; Technical University of Ostrava</h3>
				<p class="italic">2002 – 2007: Geoinformatics</p>
				<ul class="list-disc marker:text-gray-500 ml-6 leading-loose my-2">
					<li><strong>Study program</strong>: <a href="https://gis.vsb.cz/" target="_blank">Geodesy and cartography, Geoinformatics</a></li>
					<li><strong>Degree</strong>: Master's degree (Msc., Geoingormatics)</li>
					<li><strong>Address</strong>: VŠB – Technical university of Ostrava, 17. listopadu 15, Ostrava – Poruba, Faculty of Mining and Geology</li>
				</ul>
			</article>
			<article class="my-4">
				<h3 class="text-xl font-semibold mb-0.5">SPŠE Rožnov pod Radhoštěm</h3>
				<p class="italic">1997 – 2001: Electronic computer systems</p>
			</article>
		</section>

		<section class="hidden print:block break-before-page">
			<div class="grid min-h-screen align-center">
				<div class="self-center">
					<Image src={qr} alt="Roman Ožana" class="w-6/12 mx-auto"/>
				</div>
			</div>
		</section>

		<div class="text-center my-12 print:hidden">
			<a href="/cv.pdf" download={`Resume - Ing. Roman Ožana - ${new Date().getFullYear()}.pdf`} class="py-3 px-6 bg-blue-600 hover:bg-blue-700 rounded-full text-white hover:text-white hover:no-underline inline-flex items-center">
				<svg class="fill-current size-4 mr-2 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/>
				</svg>
				Download as PDF
			</a>
		</div>
	</main>
	<Footer/>
</Layout>
