<section>
	<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Additional Info</h2>
	<article class="my-4">
		<ul>
			<li>Driving license: <strong>B</strong></li>
		</ul>
	</article>
</section>