<section>
	<h2 class="section-title mb-4">Additional Info</h2>
	<div class="flex items-center justify-between">
		<span class="text-base text-slate-600">Driving license</span>
		<span class="badge font-semibold">B</span>
	</div>
</section>
