<section>
	<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Education</h2>
	<article class="my-4">
		<h3 class="text-xl font-semibold mb-0.5">VŠB &ndash; Technical University of Ostrava</h3>
		<p class="italic">2002 – 2007: Geoinformatics</p>
		<ul class="list-disc marker:text-gray-500 ml-6 leading-loose my-2">
			<li><strong>Study program</strong>: <a href="https://gis.vsb.cz/" target="_blank">Geodesy and cartography, Geoinformatics</a></li>
			<li><strong>Degree</strong>: Master's degree (Msc., Geoingormatics)</li>
			<li><strong>Address</strong>: VŠB – Technical university of Ostrava, 17. listopadu 15, Ostrava – Poruba, Faculty of Mining and Geology</li>
		</ul>
	</article>
	<article class="my-4">
		<h3 class="text-xl font-semibold mb-0.5">SPŠE Rožnov pod Radhoštěm</h3>
		<p class="italic">1997 – 2001: Electronic computer systems</p>
	</article>
</section>