---
const years = (new Date()).getFullYear() - 2009;
---
<section class="hidden print:block">
	<article class="flex gap-4 py-4">
		<div>
			<p class="mb-3 text-lg leading-relaxed">
				Hi, <br>
				I'm Roman Ožana, a freelance web designer and developer with <strong>over {years} years</strong> of experience.
				I specialize in creating user-friendly, intuitive, and modern websites and applications. I'm passionate about
				tech startups and thrive in collaborative, small, and efficient teams. Let's bring your ideas to
				life with innovative and elegant solutions!
			</p>
			<ul class="leading-loose">
				<li><strong>Address</strong>: <a href="https://goo.gl/maps/v2qt8eXuiXqPijZD7">Prague, Přímětická st.</a></li>
				<li><strong>Web</strong>: <a href="https://ozana.cz">https://ozana.cz</a></li>
				<li><strong>Email</strong>: <a href="mailto:roman@ozana.cz?subject=Resume">roman@ozana.cz</a></li>
				<li><strong>Phone</strong>: <a href="tel:+420605783455">+420&nbsp;605&nbsp;783&nbsp;455</a></li>
			</ul>
		</div>
		<div class="w-[650px]">
			<img src="/img/roman-ozana.jpg" alt="Roman Ožana" class="object-cover my-4 rounded"/>
		</div>
	</article>
</section>