---
import {
	Angularjs,
	Apple,
	Ava,
	Css3,
	Cypress,
	Docker,
	Git,
	Gnu,
	Html5,
	Javascript,
	JQuery,
	Linux,
	Mocha,
	MongoDb,
	MySql,
	Vuejs,
	Nette,
	NextJs,
	NodeJs,
	Parcel,
	Vitejs,
	Astro as AstroIcon,
	Php,
	PhpStorm,
	PhpUnit,
	React,
	Redis,
	Svelte,
	TailwindCss,
	Webpack,
	Zend
} from "@wticons/astro";
---
<section class="break-before-page">
	<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Tech Stack</h2>

	<div class="grid grid-flow-row gap-8 my-8">

		<article>
			<h3 class="font-semibold mb-6">Backend</h3>
			<ul class="flex flex-wrap gap-8 ml-6">
				<li class="flex gap-1.5 items-center">
					<Php class="size-6"/>
				</li>
				<li class="flex gap-1.5 items-center">
					<NodeJs class="size-6"/>
					NodeJS
				</li>
				<li class="flex gap-1.5 items-center">
					<Zend class="size-6"/>
					Zend
				</li>
				<li class="flex gap-1.5 items-center">
					<Nette class="size-6"/>
					Nette
				</li>
			</ul>
		</article>

		<article>
			<h3 class="font-semibold mb-6">Frontend</h3>
			<ul class="flex flex-wrap gap-8 ml-6">
				<li class="flex gap-1.5 items-center">
					<Javascript class="size-6"/>
					Javascript
				</li>
				<li class="flex gap-1.5 items-center">
					<Html5 class="size-6"/>
					HTML5
				</li>
				<li class="flex gap-1.5 items-center">
					<TailwindCss class="size-6"/>
					Tailwind CSS
				</li>
				<li class="flex gap-1.5 items-center">
					<Css3 class="size-6"/>
					CSS3
				</li>
				<li class="flex gap-1.5 items-center">
					<React class="size-6"/>
					React
				</li>
				<li class="flex gap-1.5 items-center">
					<JQuery class="size-6"/>
					jQuery
				</li>
				<li class="flex gap-1.5 items-center">
					<AstroIcon class="size-6"/>
					Astro
				</li>
				<li class="flex gap-1.5 items-center">
					<Svelte class="size-6"/>
					Svelte
				</li>
				<li class="flex gap-1.5 items-center">
					<Vuejs class:list="size-6"/>
					VueJS
				</li>
				<li class="flex gap-1.5 items-center">
					<NextJs class="size-6"/>
					NextJS
				</li>
				<li class="flex gap-1.5 items-center">
					<Angularjs class="size-6"/>
					Angular JS
				</li>
			</ul>
		</article>


		<article>
			<h3 class="font-semibold mb-6">Databases</h3>
			<ul class="flex flex-wrap gap-8 ml-6">
				<li class="flex gap-1.5 items-center">
					<MongoDb class="size-6"/>
					MongoDB
				</li>
				<li class="flex gap-1.5 items-center">
					<MySql class="size-6"/>
					MySQL
				</li>
				<li class="flex gap-1.5 items-center">
					<Redis class="size-6"/>
					Redis
				</li>
			</ul>

		</article>


		<article>
			<h3 class="font-semibold mb-6">Code quality</h3>
			<ul class="flex flex-wrap gap-8 ml-6">
				<li class="flex gap-1.5 items-center">
					<Ava class="size-6"/>
					AVA
				</li>
				<li class="flex gap-1.5 items-center">
					<PhpUnit class="w-5 h-5"/>
					PhpUnit
				</li>
				<li class="flex gap-1.5 items-center">
					<Cypress class="size-6"/>
					Cypress
				</li>
				<li class="flex gap-1.5 items-center">
					<Mocha class="size-6"/>
					Mocha
				</li>
			</ul>
		</article>


		<article>
			<h3 class="font-semibold mb-6">Bundlers</h3>
			<ul class="flex flex-wrap gap-8 ml-6">
				<li class="flex gap-1.5 items-center">
					<Parcel class="size-6"/>
					Parcel
				</li>

				<li class="flex gap-1.5 items-center">
					<Vitejs class="size-6"/>
					Vite
				</li>

				<li class="flex gap-1.5 items-center">
					<Webpack class="size-6"/>
					Webpack
				</li>

				<li class="flex gap-1.5 items-center">
					<Gnu class="size-6"/>
					Makefile
				</li>
			</ul>
		</article>

		<article>
			<h3 class="font-semibold mb-6">DevStack</h3>

			<ul class="flex flex-wrap gap-8 ml-6">
				<li class="flex gap-1.5 items-center">
					<Apple class="size-6"/>
					macOS
				</li>
				<li class="flex gap-1.5 items-center">
					<Linux class="size-6"/>
					Linux
				</li>
				<li class="flex gap-1.5 items-center">
					<Docker class="size-6"/>
					Docker
				</li>
				<li class="flex gap-1.5 items-center">
					<Git class="size-6"/>
					Git
				</li>
				<li class="flex gap-1.5 items-center">
					<PhpStorm class="size-6"/>
					PhpStorm
				</li>
			</ul>
		</article>
	</div>
</section>