<section>
	<h2 class="text-2xl font-semibold border-b-2 border-gray-300 mb-1 pb-2 italic text-gray-600 print:text-current">Work experiences</h2>
	<div class="divide-y mb-4">
		<article class="py-4">
			<div class="flex justify-between">
				<h3 class="text-xl font-semibold mb-1">
					Co-founder and full stack developer at <a href="https://www.testomato.com" target="_blank">Testomato s.r.o.</a>
				</h3>
				<span class="text-gray-600 print:hidden" data-from="2012-03-01"></span>
			</div>
			<strong>March 2012 &ndash; present</strong>
			<p>
				Works as a full-time Javascript and PHP lead developer.
			</p>
		</article>

		<article class="py-4">
			<div class="flex justify-between">
				<h3 class="text-xl font-semibold mb-1">
					Full stack developer at <a href="https://www.rzp.cz/verejne-udaje/cs/udaje/vyber-subjektu;ico=24683507" target="_blank">Devel.cz Lab s.r.o.</a>
				</h3>
				<span class="text-gray-600 print:hidden" data-from="2011-05-01"></span>
			</div>
			<strong>May 2011 &ndash; present</strong>
			<p>
				Works as an experienced PHP and Javascript developer mainly on <a href="https://www.zdrojak.cz">zdrojak.cz</a> and <a href="https://www.devel.cz">devel.cz</a> projects.
			</p>
		</article>

		<article class="py-4">
			<div class="flex justify-between">
				<h3 class="text-xl font-semibold mb-1"><a href="https://ozana.cz">Freelance web developer</a></h3>
				<span class="text-gray-600 print:hidden" data-from="2009-02-01"></span>
			</div>
			<strong>February 2009 &ndash; present</strong>
			<p>Full stack developer and freelance web developer</p>
		</article>

		<article class="py-4">
			<div class="flex justify-between">
				<h3 class="text-xl font-semibold mb-1">Application Engineer at Intergraph s.r.o.</h3>
				<span class="text-gray-600 print:hidden" data-from="2010-07-01" data-to="2011-03-31"></span>
			</div>
			<strong>July 2010 &ndash; April 2011</strong>
			<p>
				Application Engineer (Outside Consultant) - Testing enterprise metadata sharing and management solution.
				Development of simple C#.NET applications.
			</p>
		</article>

		<article class="py-4">
			<div class="flex justify-between">
				<h3 class="text-xl font-semibold mb-1">PHP developer at Skvely.CZ s.r.o.</h3>
				<span class="text-gray-600 print:hidden" data-from="2009-03-01" data-to="2010-08-01"></span>
			</div>
			<strong>March 2009 &ndash; July 2010</strong>
			<p>
				Works there as a web application developer mostly in PHP and developing some modules for Magento e-commerce.
			</p>
		</article>
	</div>
</section>

<script is:inline>
	import moment from 'https://esm.run/moment';

	function duration(start, end) {
		let s = moment(start).add(-1, 'day');
		let e = moment(end);

		let duration = moment.duration(e.diff(s));

		return [
			duration.years() ? duration.years() + (duration.years() === 1 ? ' year ' : ' years ') : '',
			duration.months() ? duration.months() + (duration.months() === 1 ? ' month ' : ' months ') : '',
			duration.days() ? duration.days() + (duration.days() === 1 ? ' day ' : ' days ') : '',
		].join(' ');
	}

	document.querySelectorAll('[data-from]').forEach((el) => {
		let from = el.getAttribute('data-from');
		let to = el.getAttribute('data-to') || moment().format('YYYY-MM-DD');

		el.textContent = duration(from, to);
	});
</script>