---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Smartphone, User, Mail, MapPinned, FileSearch, IdCard, ContactRound, Bookmark, MapPin, Phone, File } from '@lucide/astro';
---
<Layout title="Ing. Roman Ožana / Contact">

	<Header/>

	<main class="container p-4 mx-auto flex flex-col self-center align-center items-center">

		<h2 class="text-4xl font-semibold text-center mb-5">
			Let’s get in touch
		</h2>


		<ul class="flex flex-col gap-y-6 *:flex *:items-center *:gap-4 my-6">
			<li>
				<div class="bg-slate-200 p-2.5 rounded-xl">
					<Mail class="size-7 text-slate-600"/>
				</div>
				<div>
					<p>Email</p>
					<a href="mailto:roman@ozana.cz" itemprop="email" class="font-semibold text-xl">roman@ozana.cz</a>
				</div>
			</li>

			<li>
				<div class="bg-slate-200 p-2.5 rounded-xl">
					<Phone class="size-7 text-slate-600"/>
				</div>
				<div>
					<p>Phone</p>
					<a href="tel:+420605783455" itemprop="telephone" class="font-semibold text-xl">+420 605 783 455</a>
				</div>
			</li>

			<li class="flex items-center gap-2">
				<div class="bg-slate-200 p-2.5 rounded-xl">
					<MapPin class="size-7 text-slate-600"/>
				</div>
				<div>
					<p>Location</p>
					<p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" class="font-semibold text-xl">
						<span hidden itemprop="streetAddress">Přímětická 1199/36</span>
						<span itemprop="addressLocality">Prague</span>,
						<span itemprop="addressRegion">Czech Republic</span>
						<span hidden itemprop="postalCode">14000</span>
					</p>
				</div>
			</li>
		</ul>

		<div class="text-center mt-6">
			<a
				href="/ozana.vcf"
				class="btn"
				download="Roman Ožana.vcf">
				<Bookmark class="size-5"/>
				Add to Contacts
			</a>
		</div>

		<div class="mt-12 text-slate-800">
			<p class="text-center w-full">
				IN:&nbsp;<a href="https://www.rzp.cz/verejne-udaje/cs/udaje/vyber-subjektu;ico=87098504" title="Registration number" target="_blank" class="text-current">87098504</a>
			</p>
		</div>

	</main>
	<Footer/>
</Layout>