---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Smartphone, User, Mail, MapPinned, FileSearch } from '@lucide/astro';
---
<Layout title="Ing. Roman Ožana / Contact">

	<Header/>

	<main class="container p-4 mx-auto flex flex-col self-center align-center items-center">

		<h2 class="text-4xl font-semibold text-center mb-5">
			Let’s get in touch
		</h2>


		<ul class="flex flex-col gap-y-3.5 *:flex *:items-center *:gap-3.5">
			<li>
				<Mail class="size-6 mt-1.5"/>
				<a href="mailto:roman@ozana.cz" itemprop="email" class="font-semibold text-3xl">roman@ozana.cz</a>
			</li>

			<li>
				<Smartphone class="size-6"/>
				<a href="tel:+420605783455" itemprop="telephone" class="font-semibold text-xl">+420 605 783 455</a>
			</li>

			<li class="flex items-center gap-2">
				<MapPinned class="size-6"/>
				<p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
					<span hidden itemprop="streetAddress">Přímětická 1199/36</span>
					<span itemprop="addressLocality">Prague</span>,
					<span itemprop="addressRegion">Czech Republic</span>
					<span hidden itemprop="postalCode">14000</span>
				</p>
			</li>

			<li>
				<FileSearch class="size-5"/>
				<span>
				IN&nbsp;<a href="https://www.rzp.cz/verejne-udaje/cs/udaje/vyber-subjektu;ico=87098504" title="Registration number" target="_blank" class="text-current">87098504</a>
				</span>
			</li>
		</ul>

		<div class="text-center mt-24">
			<a
				href="/ozana.vcf"
				class="btn"
				download="Roman Ožana.vcf">
				<User class="size-5"/>
				Add to Contacts
			</a>
		</div>


	</main>
	<Footer/>
</Layout>