---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Avatar from "../components/Avatar.astro";
import GitHub from "../components/work/github/GitHub.astro";
import IconGitHub from "../components/IconGitHub.astro";
---

<Layout title="Ing. Roman Ožana">

	<Header/>

	<main class="lg:container lg:mx-auto self-center align-center" itemscope itemtype="https://schema.org/Person">

		<div class="flex flex-wrap justify-center my-10">
			<Avatar/>
		</div>

		<article class="text-center">

			<h1 class="font-bold text-4xl mb-1">
				<span itemprop="honorificPrefix">Ing.</span>
				<span itemprop="givenName">Roman</span>
				<span itemprop="familyName">Ožana</span>
			</h1>

			<h2 class="text-3xl py-2">Full Stack Developer</h2>

			<div class="my-5">
				<a href="https://github.com/OzzyCzech/" target="_blank" class="text-lg inline-flex items-center py-2 px-6 rounded-full text-white hover:no-underline hover:text-white bg-slate-800 hover:bg-slate-900">
					GitHub
				</a>
			</div>
		</article>

	</main>

	<Footer/>
</Layout>
