---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Avatar from "../components/Avatar.astro";
import GitHubIcon from '../icons/github-alt.svg';
import Typed from "../components/Typed.astro";
---

<Layout title="Ing. Roman Ožana">

	<Header/>

	<main class="lg:container lg:mx-auto self-center align-center" itemscope itemtype="https://schema.org/Person">

		<div class="flex flex-wrap justify-center my-10">
			<Avatar/>
		</div>

		<article class="text-center">

			<h1 class="font-bold text-4xl mb-1">
				Hello, I'm Roman Ožana
			</h1>

			<Typed string={['Web Developer', 'Software Engineer', 'PHP Developer', 'JavaScript Developer', 'Nette Framework Developer', 'Vue.js Developer']}>

			</Typed>

			<div class="my-5">
				<a href="https://github.com/OzzyCzech/" target="_blank" class="btn">
					<GitHubIcon class="size-5"/>
					View GitHub
				</a>
			</div>
		</article>

	</main>

	<Footer/>
</Layout>
