---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Avatar from "../components/Avatar.astro";
import GitHubIcon from '../icons/github-alt.svg';
import Typed from "../components/Typed.astro";
---

<Layout
	title="Ing. Roman Ožana a Full-Stack Developer"
  description="Hey, I'm Roman Ožana, a passionate Full-Stack Developer specializing in building robust web applications and services. Explore my projects and get in touch!"
	keywords="Roman Ožana, Full-Stack Developer, Web Developer, Software Engineer, JavaScript, TypeScript, Node.js, React, Astro, Projects, Contact">

	<Header/>

	<main class="container mx-auto p-4 self-center align-center" itemscope itemtype="https://schema.org/Person">

		<div class="flex flex-wrap justify-center my-10">
			<Avatar/>
		</div>

		<article class="text-center">

			<h1 class="font-semibold text-4xl mb-1.5">
				Hey, I'm Roman.
			</h1>

			<Typed/>

			<div class="my-5">
				<a href="https://github.com/OzzyCzech/" target="_blank" class="btn">
					<GitHubIcon class="size-5"/>
					View GitHub
				</a>
			</div>
		</article>

	</main>

	<Footer/>
</Layout>
