---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Sphido from '../components/work/sphido/Sphido.astro';
import Zdrojak from "../components/work/zdrojak/Zdrojak.astro";
import CmdDialog from "../components/work/cmd-dialog/CmdDialog.astro";
import Testomato from "../components/work/testomato/Testomato.astro";
import GitHub from "../components/work/github/GitHub.astro";
---

<Layout title="Ing. Roman Ožana / Projects">
	<Header/>
	<main class="flex flex-col gap-10 px-4 py-10 lg:px-20 lg:gap-20 xl:px-40 lg:grid lg:grid-cols-2">
		<Testomato/>
		<Zdrojak/>
		<Sphido/>
		<CmdDialog/>
		<GitHub/>
	</main>
	<Footer/>
</Layout>
