---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from "astro:assets";
import qr from "../components/resume/contact.svg";
import WorkExperiences from "../components/resume/WorkExperiences.astro";
import TechStack from "../components/resume/TechStack.astro";
import Headline from "../components/resume/Headline.astro";
import Language from "../components/resume/Language.astro";
import DrivingLicense from "../components/resume/DrivingLicense.astro";
import Education from "../components/resume/Education.astro";
import DownloadIcon from "../icons/download.svg";
---

<Layout title="Ing. Roman O탑ana / Resume">
	<Header/>

	<main class="container px-4 mx-auto">
		<h1 class="text-center py-6 md:py-8 lg:py-12 xl:py-20 text-2xl font-semibold">Ing. Roman O탑ana / Resume</h1>

		<Headline/>
		<WorkExperiences/>
		<TechStack/>
		<Language/>
		<DrivingLicense/>
		<Education/>

		<section class="hidden print:block break-before-page">
			<div class="grid min-h-screen align-center">
				<div class="self-center">
					<Image src={qr} alt="Roman O탑ana" class="w-6/12 mx-auto"/>
				</div>
			</div>
		</section>

		<div class="text-center my-12 print:hidden">
			<a href="/cv.pdf" download={`Resume - Ing. Roman O탑ana - ${new Date().getFullYear()}.pdf`} class="btn">
				<DownloadIcon class="size-5"/>
				Download as PDF
			</a>
		</div>
	</main>
	<Footer/>
</Layout>
