---
import {Image} from 'astro:assets';
import me from '../../public/img/roman-ozana.jpg';
---

<avatar-download class="w-6/12 sm:w-2/12 relative">
	<button title="Download me 😉..." type="button">
		<Image src={me} alt="Roman Ožana" class="drop-shadow rounded-full max-w-full h-auto align-middle border-none border" width="512" height="512" loading="eager"/>
	</button>

	<div class="absolute z-10 w-48 right-0 left-0 m-auto bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 self-center hidden">
		<ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
			<li><a class="block py-2 px-4 hover:bg-gray-100 hover:no-underline dark:hover:bg-gray-600 dark:hover:text-white" href="/img/roman-ozana-small.jpg" download>
				<svg class="fill-current w-4 h-4 mr-2 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/>
				</svg>
				Avatar size</a>
			</li>
			<li><a class="block py-2 px-4 hover:bg-gray-100 hover:no-underline dark:hover:bg-gray-600 dark:hover:text-white" href="/img/roman-ozana-medium.jpg" download>
				<svg class="fill-current w-4 h-4 mr-2 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/>
				</svg>
				Medium size</a>
			</li>
			<li><a class="block py-2 px-4 hover:bg-gray-100 hover:no-underline dark:hover:bg-gray-600 dark:hover:text-white" href="/img/roman-ozana.jpg" download>
				<svg class="fill-current w-4 h-4 mr-2 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/>
				</svg>
				Full size</a>
			</li>
		</ul>
	</div>
</avatar-download>

<script>

	class AvatarDownload extends HTMLElement {
		constructor() {
			super();

			const button = this.querySelector('button');
			const menu = this.querySelector('div');

			button.addEventListener('click', (event) => {
				menu.classList.toggle('hidden');
				event.stopPropagation();
			});

			menu.addEventListener('click', (event) => {
				menu.classList.add('hidden');
				event.stopPropagation();
			});
		}
	}

	customElements.define('avatar-download', AvatarDownload);

</script>