<footer class="print:hidden">
	<section class="flex justify-center text-center py-6 lg:py-20">
		<a href="https://github.com/OzzyCzech/" target="_blank" class="no-underline text-current">GitHub</a><span class="mx-2">&bull;</span>
		<a href="https://stackoverflow.com/users/355316/ozzyczech/" target="_blank" class="no-underline text-current">StackOverflow</a>
	</section>
</footer>