---
const currentPath = Astro.url.pathname;
import { HouseIcon, Code, Paperclip, User } from '@lucide/astro';
---
<header class="container p-5 lg:py-8 mx-auto print:hidden">
	<nav class="flex justify-evenly text-center">
		<ul>
			<li class={currentPath === '/' && 'active'}>
				<a href="/" class="text-inherit hover:no-underline active:bg-slate-50 hover:text-black active:text-black active:outline active:outline-slate-200 rounded-full px-4 py-1.5 inline-flex gap-1.5 items-center">
					<HouseIcon class="size-4 hidden lg:block"/>
					Home
				</a>
			</li>
			<li class={currentPath.startsWith('/projects') && 'active'}>
				<a href="/projects" class="text-inherit hover:no-underline active:bg-slate-50 hover:text-black active:text-black active:outline active:outline-slate-200 rounded-full px-4 py-1.5 inline-flex gap-1.5 items-center">
					<Code class="size-4 hidden lg:block"/>
					Projects
				</a>
			</li>
			<li class={currentPath.startsWith('/resume') && 'active'}>
				<a href="/resume" class="text-inherit hover:no-underline active:bg-slate-50 hover:text-black active:text-black active:outline active:outline-slate-200 rounded-full px-4 py-1.5 inline-flex gap-1.5 items-center">
					<Paperclip class="size-4 hidden lg:block"/>
					Resume
				</a>
			</li>
			<li class={currentPath.startsWith('/contact') && 'active'}>
				<a href="/contact" class="text-inherit hover:no-underline active:bg-slate-50 hover:text-black active:text-black active:outline active:outline-slate-200 rounded-full px-4 py-1.5 inline-flex gap-1.5 items-center">
					<User class="size-4 hidden lg:block"/>
					Contact
				</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	@reference "tailwindcss";
	ul {
		@apply flex justify-around w-full max-w-[480px] font-medium text-slate-600;
	}
</style>