---
const currentPath = Astro.url.pathname;
---

<header class="print:hidden">
	<nav class="flex justify-center lg:justify-end border-b text-center">
		<ul class="grid grid-cols-3 divide-x py-3">
			<li class={currentPath === '/' ? 'font-bold' : ''}>
				<a href="/" class="inline-block py-1 px-5 no-underline text-current">Contact</a>
			</li>
			<li class={currentPath === '/work' ? 'font-bold' : ''}>
				<a href="/work" class="inline-block py-1 px-5 no-underline text-current">Work</a>
			</li>
			<li class={currentPath === '/resume' ? 'font-bold' : ''}>
				<a href="/resume" class="inline-block py-1 px-5 no-underline text-current">Resume</a>
			</li>
		</ul>
	</nav>
</header>