<h2 class="text-3xl">
	<span id="typed"></span>
</h2>

<script>
	import Typed from "typed.js";

	new Typed("#typed", {
		strings: [
			'Full Stack Developer',
			'Front-end Developer',
			'Javascript Developer',
			'Back-end Developer',
			'PHP Developer',
			'Freelancer',
			'Open Source Contributor',
			'WordPress Expert',
		],
		typeSpeed: 70,
		backSpeed: 70,
		backDelay: 1000,
		loop: true,
	});
</script>

