---
import { ExternalLink } from "@lucide/astro";

export interface Props {
	href: string;
}
const {href} = Astro.props as Props;
---
<div slot="footer" class="text-center md:text-right">
	<a href={href} target="_blank" class="inline-flex justify-center items-center gap-1 py-4">
		<ExternalLink class="size-4"/>
		<slot/>
	</a>
</div>