---
import { SquareArrowOutUpRight } from "@lucide/astro";


export interface Props {
	href: string;
}
const {href} = Astro.props as Props;
---
<div class="text-center md:text-left">
	<a href={href} target="_blank" rel="noopener" class="btn">
		<slot/>
		<SquareArrowOutUpRight class="size-3.5"/>
	</a>
</div>