---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export interface Props {
	href: string;
	src: ImageMetadata,
	alt?: string;
}

const {href, src, alt} = Astro.props as Props;
---

<a
	href={href}
	target="_blank"
	aria-label={`Link to ${alt ?? "website"}`}>
	<figure>
		<Image
			src={src}
			alt={alt ?? "Website screenshot"}
			class="rounded-md md:rounded-xl shadow-lg"
			itemprop="image"
			loading="eager"
		/>
		<figcaption class="sr-only">
			Screenshot of {alt ?? "website"}
		</figcaption>
	</figure>
</a>