<article itemscope itemtype="https://schema.org/Article">
	<header>
		<slot name="header"/>
	</header>

	<main itemprop="articleBody">
		<slot/>
	</main>
</article>

<style>
	@reference "tailwindcss";

	article {
		@apply grid grid-flow-row gap-6;
		@apply md:grid-cols-[1fr_2fr] lg:gap-x-8;
	}

	main {
		@apply flex flex-col gap-4;
	}
</style>