---
import { SquareArrowOutUpRight } from "@lucide/astro";


export interface Props {
	href: string;
}
const {href} = Astro.props as Props;
---
<div class="mt-4">
	<a href={href} target="_blank" rel="noopener" class="btn btn-xs">
		<slot/>
		<SquareArrowOutUpRight class="size-3"/>
	</a>
</div>