<article itemscope itemtype="https://schema.org/Article">
	<header>
		<slot name="header"/>
	</header>

	<div itemprop="articleBody">
		<slot/>
	</div>
</article>

<style>
	@reference "tailwindcss";

	article {
		@apply rounded-xl overflow-hidden;
		@apply grid grid-flow-row gap-6 md:gap-12;
		@apply md:grid-cols-[2fr_3fr];
	}

	div {
		@apply flex flex-col gap-3 justify-start items-center md:items-start;
	}
</style>