<article itemscope itemtype="https://schema.org/Article">
	<header>
		<slot name="header"/>
	</header>

	<div itemprop="articleBody">
		<slot/>
	</div>
</article>

<style>
	@reference "tailwindcss";

	article {
		@apply grid grid-flow-row gap-6;
		@apply md:grid-cols-[1fr_1fr] lg:gap-x-10;
	}

	div {
		@apply flex flex-col gap-4 justify-center;
	}
</style>